@model IEnumerable<AmericanGirlLookup.Models.Doll>

@{
    ViewData["Title"] = "Doll Lookup";
}

<h1>@ViewData["Title"]</h1>
<p>Find all your favorite dolls in one place! Welcome to the Doll Lookup!</p>

@{
    if (User.IsInRole("Administrator") || User.IsInRole("Doll Curator"))
    {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    }
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@item.ImageUrl" alt="@item.DollName"/>
                
                <div class="card-body">
                    <h5 class="card-title">@item.DollName</h5>
                    <p class="card-text">@item.CharacterType</p>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    @{
                        if (User.IsInRole("Administrator") || User.IsInRole("Doll Curator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Modify</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>